#home_bt{
font-size:35px;
font-family:sans-serif;
color:grey;
margin-left:370px;
margin-top:30px;
}
#nav_of_home_bt{
text-decoration:none;
}
#port_bt{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:14px;
margin-top:30px;
}
#nav_of_port_bt{
text-decoration:none;
}
#about_bt{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:14px;
margin-top:30px;
}
#nav_of_about_bt{
text-decoration:none;
}
#blog_bt{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:14px;
margin-top:30px;
}
#nav_of_blog_bt{
text-decoration:none;
}
#con_bt{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:14px;
margin-top:30px;
}
#nav_of_con_bt{
text-decoration:none;
}
#wellcome{
font-size:50px;
font-family:sans-serif;
color:black;
margin-top:400px;
margin-left:150px;
}
#visit{
margin-bottom:100px;
margin-left:290px;
}



